<%= form_with(model: social_media_account) do |form| %>
  <% if social_media_account.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(social_media_account.errors.count, "error") %> prohibited this social_media_account from being saved:</h2>

      <ul>
        <% social_media_account.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :old_platform, style: "display: block" %>
    <%= form.text_field :old_platform %>
  </div>

  <div>
    <%= form.label :old_account, style: "display: block" %>
    <%= form.text_field :old_account %>
  </div>

  <div>
    <%= form.label :new_platform, style: "display: block" %>
    <%= form.text_field :new_platform %>
  </div>

  <div>
    <%= form.label :new_account, style: "display: block" %>
    <%= form.text_field :new_account %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
