<div id="<%= dom_id social_media_account %>">
  <p>
    <strong>Name:</strong>
    <%= social_media_account.user.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= social_media_account.user.email %>
  </p>

  <p>
    <strong>Old platform:</strong>
    <%= social_media_account.old_platform %>
  </p>

  <p>
    <strong>Old account:</strong>
    <%= social_media_account.old_account %>
  </p>

  <p>
    <strong>New platform:</strong>
    <%= social_media_account.new_platform %>
  </p>

  <p>
    <strong>New account:</strong>
    <%= social_media_account.new_account %>
  </p>

</div>
