<div id="<%= dom_id bluesky_account %>"> 
    <%= link_to bluesky_account.url, class: "account-card-anchor" do %>
        <div class="account-card bluesky-card">
            <h4><%= bluesky_account.platform_name %></h4>
            <div class="platform-logo">
                <%= image_tag "platform_logos/bluesky.png", class: "img-fluid account-card-logo" %>
            </div>
            <div class="platform-badge bluesky-badge">
                <%= "@#{bluesky_account.account_name}.bsky.social" %>
            </div>
        </div>
    <% end %>
</div>
