<% content_for :title, "New user" %>

<h2>Login/register</h2>

<p>
     Anseo Anois supports Google sign-in. Only your name and email address will be used from Google.
</p>

<%# <%= render "form", user: @user %> 

<div id="g_id_onload"
     data-client_id="<%= ENV["GOOGLE_SIGN_IN_CLIENT_ID"] %>"
     data-context="signup"
     data-ux_mode="popup"
     data-login_uri="https://<%= ENV["SITE_DOMAIN"] %>/users/google_sign_in"
     data-authenticity_token="<%= form_authenticity_token %>"
     data-auto_select="true"
     data-itp_support="true"
</div>

<div class="g_id_signin"
     data-type="standard"
     data-shape="rectangular"
     data-theme="outline"
     data-text="signin_with"
     data-size="large"
     data-logo_alignment="left">
</div>

<%= javascript_include_tag "https://accounts.google.com/gsi/client", async: true, nonce: true %>