<%= bootstrap_form_with(model: share_code) do |form| %>
  <% if share_code.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(share_code.errors.count, "error") %> prohibited this share code from being saved:</h2>

      <ul>
        <% share_code.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.datetime_field :expires_at, class: "form-control" %>
  </div>

  <%= form.hidden_field :share_code_protectable_id, value: params[:share_code_protectable_id] %>
  <%= form.hidden_field :share_code_protectable_type, value: params[:share_code_protectable_type] %>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
