<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Anseo Anois" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload", nonce: true %>
    <%= javascript_importmap_tags %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Princess+Sofia&display=swap" rel="stylesheet">
  </head>

  <body> 
    <% unless @sharable_view %>
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="<%= url_for "/" %>">Anseo Anois</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <%= render "navbar_item", name: "Home", path: "/"%>
              <% if !@current_user %> <%= render "navbar_item", name: "Login/Register", path: "/users/new" %> <% end %>
              <% if @current_user %> <%= render "navbar_item", name: "Your accounts", path: "/accounts"%> <% end %> 
              
            </ul>
            <ul class="navbar-nav d-flex">
                <% if @current_user %>
                  <li class="nav-item">
                    <%= link_to @current_user.email, user_path(@current_user), class: "nav-link" %>
                  </li>
                <% else %>
                  <%= link_to "Not logged in", "/users/new", class: "nav-link" %>
                <% end %>
              </ul>
          </div>
        </div>
      </nav>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
