<div id="<%= dom_id account %>">
  <% if @sharable_view %>
    <div class="container text-center my-3">
      <%= link_to "/", class: "text-decoration-none text-dark" do %>
        <h1 class="princess-sofia-regular">Anseo Anois</h2>
      <% end %>
    </div>
  <% end %>

  <% unless @sharable_view %>
    <h2><%= account.menu_name %></h2>
  <% end %>

  <%= render partial: "accounts/card_presentation", locals: { account: } %>

  <% if account.owner == @current_user && !@sharable_view %>
    <br>
    <%= render partial: "accounts/share_codes", locals: { account: } %>
    <br>
    <%= render partial: "accounts/owner_details", locals: { account: } %>
  <% end %>

  <% if @sharable_view %>
    <div class="container mt-2">
      <div class="row text-center">
        <p class="text-muted"><small>Anseo Anois is a Link-as-a-Service (LaaS) platform. <%= link_to "Add your accounts today!", new_account_path, class: "footer-link" %></small></p>
      </div>
    </div>
  <% end %>
</div>