<p style="color: green"><%= notice %></p>

<% content_for :title, "Accounts" %>
<div class="container mt-5 p-4 rounded-3 header-box">
  <div class="row justify-content-center">
    <div class="col-auto text-center">
      <h2>Your accounts</h2>
      An account can be any kind of internet account, such as a social media account, messaging account, or any other kind of online presence.
      <br>
      <br>
      <%= link_to "Add account", new_account_path, class: "btn btn-warning fw-semibold" %>
    </div>
  </div>
</div>

<div id="accounts">
  <% @accounts.each do |account| %>
    <div class="container border border-3 border-dark-subtle rounded-3 p-4 my-5">
    <%= render account %>
    <br>
      <p>
      <%= link_to "Go to this account", account, class: "btn btn-primary" %>
      <%= button_to "Delete this account", account, method: :delete, class: "btn btn-danger d-inline-block" %>
    </p>
    </div>
  <% end %>
</div>
