<p style="color: green"><%= notice %></p>

<%= render @account %>

<div>
  <%= link_to "Edit this account", edit_account_path(@account), class: "btn btn-secondary" %>
  <%= link_to "Back to accounts", accounts_path, class: "btn btn-secondary" %>
  <br><br>
  <%= button_to "Destroy this account", @account, method: :delete, class: "btn btn-secondary" %>
</div>
